/* Utility */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* General */

a {
	color: #fff;
}

li {
	list-style: none;
}

#container {
	height: 90%;
	width: 100%;
	background-color:#999;
}

#map {
	background-color: #ccc;
	width: 100%;
	height:100%;
}

#stationlist {
	width: 200px;
	min-height: 200px;
	float: right;
	background-color:#333;
}

@media screen and (orientation:portrait) {
	#map {
		height: 60%;
	}
}