/* Utility */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* General */

body {
	font-family: 'Droid Sans', Arial;
	background-color: #bbcc44;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

#container {
	height: 90%;
	width: 100%;
	background-color:#d3d3d3;
	position: relative;
}

header {
	height: 20px;
	padding: 10px;
	color: #333;
}

#map {
	background-color: #c2e2e2;
	width: 100%;
	height:100%;
	overflow: hidden;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#stationlist {
	float: right;
	background-color:#5588bb;
	color: #fff;
	line-height: 1.2;
	overflow: scroll;
}

#stationlist ul li{
	padding-left: 10px;
}

@media screen and (orientation:portrait) {
	#map {
		height: 60%;
	}
	
	#stationlist {
		margin: 0 auto;
		width: 100%;
		height: 50%;
	}
}

@media screen and (orientation:landscape) {
#stationlist {
	position: absolute;
	top: 0px;
	right:0px;
	height: 100%;
}

}