/* Utility */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* General */

body {
    font-family: 'Open Sans', Arial;
    font-weight: 300;
    background:#2c3e50;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: underline;
    }

li {
    list-style: none;
}

header,
#stationlist,
#stationapp {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

header {
    min-height:43px;
    padding: 10px;
    color: #fcfcfc;
    position: fixed;
    top:0px;
    z-index:12;
    background:#2c3e50;
    width:100%;
    box-shadow:0px 0px 4px #222;
}

#slider {
    width:300px;
    max-width:100%;
    float:right;
    margin-left:30px;
    background: url( images/loading.svg ) top left /0 100% no-repeat;
}

#stationapp {
    height:100%;
    padding-top:43px;
}

#container {
    width: 100%;
    background-color: #2f4255;
    position: relative;
}

#map {
    background-color: #c2e2e2;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

#stationlist {
    float: right;
    background-color: #3e9ddd;
    box-shadow:0px 0px 4px #222;
    color: #fff;
    line-height: 1.2;
    overflow: scroll;
    width: 25%;
    z-index:10;
}

    #stationlist ul li {
        margin: 10px;
        cursor: pointer;
    }

h1 {
    display: inline;
    font-size: 22px;
    float: left;
    margin-right: 15px;
    font-family: 'Dosis', sans-serif;
    font-weight:200;
}

.js-play {
    cursor: pointer;
    font-size: 22px;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 13px;
    background: #fff;
    color:#2c3e50;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    float: left;
    margin-right:10px;
}

    .js-play i {
        position: relative;
        top: 6px;
    }

    .js-play .fa-play {
        left: 1px;
    }

    .js-play:hover {
        color: #555;
    }

.current-year {
    font-size: 1.2em;
    line-height:1.3;
}

.geStation-infowindow {
    min-height:50px;
    width:150px;
    line-height:1.4;
}

@media screen and (orientation:portrait) {
    #map {
        height: 70%;
        width:100%;
    }

    #stationlist {
        margin: 0 auto;
        width: 100%;
        height: 30%;
        position:fixed;
        bottom:0px;
    }
}

@media screen and (orientation:landscape) {
    #stationlist {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
    }
}
